.layout {
	height: auto !important;
	header {
		background-color: transparent;
		height: auto;
		padding-top: 30px;
		.logo {
			display: block;
			text-align: center;
		}
	}

	.children {
		min-height: 100%;
		height: auto !important;
	}

	footer {
		width: 100%;
		margin: 30px auto;
		text-align: center;

		> span {
			max-width: 600px;
		}
	}
}
